<h1>Lr9#input</h1>
<p>Введите массив</p>

<%= form_tag('/lr9/output.json', :method => 'get', remote: true, id: 'input_form') do %>
    <%= label_tag("Массив:") %>
    <%= text_field_tag(:array) %> <br/>
    <%= submit_tag("Отправить") %>
    <div id="result"></div>
    <% end %>